In [1]:
from EasyModel.builders.preprocessor_builder import EasyPreprocessors
import pandas as pd

In [2]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
preprocessors = EasyPreprocessors('regressors_inputs\preprocessors.json', '50_Startups.csv')
preprocessors.compute_preprocessors()

starting preprocessors
computing standard_scaler
computing target_variable
computing get_dummies

In [4]:
print(preprocessors._X.head(), "\n")
print(preprocessors._y.head())

   R&D Spend  Administration  Marketing Spend  Florida  New York
0   2.016411        0.560753         2.153943        0         1
1   1.955860        1.082807         1.923600        0         0
2   1.754364       -0.728257         1.626528        1         0
3   1.554784       -0.096365         1.422210        0         1
4   1.504937       -1.079919         1.281528        1         0

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64